<template>
    <div>
        <div>
            <div class="Polaris-Card">
                <div class="Polaris-Card__Section mb-20">
                    <div>
                        <div class="Polaris-SettingAction">
                            <div class="Polaris-SettingAction__Setting">
                                <div class="Polaris-Stack">
                                    <div class="Polaris-Stack__Item Polaris-Stack__Item--fill">
                                        <div class="Polaris-AccountConnection__Content">
                                            <h1 class="Polaris-Header-Title">Syncing of contacts</h1>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="Polaris-SettingAction__Action">
                                <button v-bind:class="['Polaris-Button Polaris-Button--primary', { 'Polaris-Button--disabled' : total_customer <= 0 }]" type="button"
                                        @click="ApplySyncContacts()">
                    <span class="Polaris-Button__Content">
                            <span class="Polaris-Button__Text">Sync my customers</span>
                    </span>
                                </button>
                            </div>
                        </div>
                        <div class="Polaris-AccountConnection__TermsOfService">
                            <p class="inline">You have {{total_customer}} existing customers.  Do you want to add them to
                                your MuxEmail workspace?</p>
                            <p class="text-right inline" v-if="last_synced_contact_date">Last synced on {{last_synced_contact_date}}</p>
                        </div>
                    </div>
                </div>

                <div id="divider"></div>

                <div class="Polaris-Card__Section mb-20">

                    <div class="Polaris-Header-Title__TitleAndSubtitleWrapper">
                        <h1 class="Polaris-Header-Title">Tags</h1>
                    </div>

                    <div class="mb-20">
                        <div class="Polaris-Layout">
                            <div class="Polaris-Layout__AnnotatedSection">
                                <div class="Polaris-Layout__AnnotationWrapper">
                                    <div class="Polaris-Layout__Annotation">
                                        <div class="Polaris-TextContainer">
                                            <div class="">
                                                <p>Select the tags you want to assign to the contacts coming in via your
                                                    Shopify store.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="Polaris-Layout__AnnotationContent">
                                        <div class="">
                                            <div class="Polaris-Card__Section">
                                                <div class="Polaris-FormLayout">
                                                    <div class="">
                                                        <div class="">
                                                            <div class="Polaris-Connected">
                                                                <div
                                                                    class="Polaris-Connected__Item Polaris-Connected__Item--primary">
                                                                    <div id="tags_field">
                                                                        <PMultiSelect
                                                                            :options='MuxTags'
                                                                            textField="name"
                                                                            valueField="name"
                                                                            v-model="SelectedTags"
                                                                            placeholder="Select"
                                                                            @input="onInputTagAssign($event)"
                                                                            multiple
                                                                        />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="PolarisPortalsContainer"></div>
                    </div>

                    <div class="mb-20">
                        <div class="Polaris-TextContainer">
                            <h2 class="Polaris-Heading">Match Attributes</h2>
                            <p>By default, MuxEmail imports the email id, first name and last name of your customers. To
                                import more attributes make sure to map them to their correct MuxEmail contact fields.
                            </p>
                        </div>
                        <div id="PolarisPortalsContainer"></div>
                    </div>

                    <div class="mb-20">
                        <div class="">
                            <form id="attributesForm" @submit.prevent="attributesSubmit">

                                <div v-if="errors.length">
                                    <div
                                        class="Polaris-Banner Polaris-Banner--statusCritical Polaris-Banner--withinPage"
                                        tabindex="0" role="alert" aria-live="polite"
                                        aria-labelledby="PolarisBanner30Heading"
                                        aria-describedby="PolarisBanner30Content">
                                        <div class="Polaris-Banner__ContentWrapper">
                                            <div class="Polaris-Banner__Heading" id="PolarisBanner30Heading">
                                                <p class="Polaris-Heading">Please correct the following error(s):</p>
                                            </div>
                                            <div id="myFieldIDError" class="Polaris-InlineError"
                                                 v-for="error in errors">
                                                <div class="Polaris-InlineError__Icon">
                                                                    <span class="Polaris-Icon">
                                                                    <span class="Polaris-VisuallyHidden">
                                                                    </span><svg viewBox="0 0 20 20"
                                                                                class="Polaris-Icon__Svg"
                                                                                focusable="false" aria-hidden="true">
                                                                      <path
                                                                          d="M10 18a8 8 0 1 1 0-16 8 8 0 0 1 0 16zM9 9a1 1 0 0 0 2 0V7a1 1 0 1 0-2 0v2zm0 4a1 1 0 1 0 2 0 1 1 0 0 0-2 0z">
                                                                      </path>
                                                                    </svg>
                                                                    </span>
                                                </div>
                                                {{ error }}
                                            </div>
                                        </div>

                                        <div id="PolarisPortalsContainer"></div>
                                    </div>
                                    <br>
                                </div>

                                <div class="row Polaris-Card__Section no-padd">
                                    <div class="col col-1">
                                        <p class="field_attr_title">Shopify customer attributes</p>
                                    </div>
                                    <div class="col col-2">
                                        <p class="field_attr_title">MuxEmail contact attributes</p>
                                    </div>
                                    <div id="PolarisPortalsContainer"></div>
                                </div>

                                <div class="form-group">
                                    <div v-for="(input, index) in formFields"
                                         :key="`Input-${index}`"
                                         class="input wrapper flex  Polaris-TextField__Input">
                                        <div class="Polaris-Layout">
                                            <div class="col col-1">
                                                <div class="Polaris-Card__Section">
                                                    <div>
                                                        <div class="Polaris-FormLayout__Item form-field-itm">
                                                            <div class="">
                                                                <div class="Polaris-Connected">
                                                                    <div
                                                                        class="Polaris-Connected__Item Polaris-Connected__Item--primary">
                                                                        <div class="Polaris-Select">
                                                                            <select id="PolarisSelect12"
                                                                                    v-model="formFields[index].field1"
                                                                                    :disabled="index<=2"
                                                                                    class="h-10 rounded-lg outline-none p-2 Polaris-Select__Input"
                                                                                    aria-invalid="false"
                                                                                    required>
                                                                                <option value="" disabled>Choose
                                                                                </option>
                                                                                <option
                                                                                    v-for="field in ShopifyAttributes"
                                                                                    :disabled="field.fieldKey=='email' || field.fieldKey=='first_name' || field.fieldKey=='last_name'"
                                                                                    :value="field">
                                                                                    {{ field.fieldLabel ?
                                                                                    field.fieldLabel : field.fieldKey }}
                                                                                </option>
                                                                            </select>

                                                                            <div class="Polaris-Select__Content"
                                                                                 aria-hidden="true"><span
                                                                                class="Polaris-Select__SelectedOption">
                                                                                          {{ formFields[index].field1.fieldLabel ? formFields[index].field1.fieldLabel : formFields[index].field1 }}
                                                                                        </span><span
                                                                                class="Polaris-Select__Icon"><span
                                                                                class="Polaris-Icon"><span
                                                                                class="Polaris-VisuallyHidden"></span><svg
                                                                                viewBox="0 0 20 20"
                                                                                class="Polaris-Icon__Svg"
                                                                                focusable="false" aria-hidden="true">
              <path
                  d="M7.676 9h4.648c.563 0 .879-.603.53-1.014L10.531 5.24a.708.708 0 0 0-1.062 0L7.145 7.986C6.798 8.397 7.113 9 7.676 9zm4.648 2H7.676c-.563 0-.878.603-.53 1.014l2.323 2.746c.27.32.792.32 1.062 0l2.323-2.746c.349-.411.033-1.014-.53-1.014z"></path>
            </svg></span></span></div>
                                                                            <div class="Polaris-Select__Backdrop"></div>
                                                                        </div>

                                                                        <!--                                                                                    <div class="Polaris-TextField">-->
                                                                        <!--                                                                                            <input-->
                                                                        <!--                                                                                                id="PolarisTextField19"-->
                                                                        <!--                                                                                                v-model="input.field1"-->
                                                                        <!--                                                                                                type="text"-->
                                                                        <!--                                                                                                class="h-10 rounded-lg outline-none p-2 Polaris-TextField__Input"-->
                                                                        <!--                                                                                                aria-labelledby="PolarisTextField19Label"-->
                                                                        <!--                                                                                                aria-invalid="false"-->
                                                                        <!--                                                                                                placeholder=" Enter Phone Number"-->
                                                                        <!--                                                                                                required-->
                                                                        <!--                                                                                            />-->
                                                                        <!--                                                                                        <div class="Polaris-TextField__Backdrop"></div>-->
                                                                        <!--                                                                                    </div>-->
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div id="PolarisPortalsContainer"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col col-2">
                                                <div class="Polaris-Card__Section">
                                                    <div>
                                                        <div class="Polaris-FormLayout__Item form-field-itm">
                                                            <div class="">
                                                                <div class="Polaris-Connected">
                                                                    <div
                                                                        class="Polaris-Connected__Item Polaris-Connected__Item--primary">

                                                                        <div class="Polaris-Select">
                                                                            <select id="PolarisSelect12"
                                                                                    :disabled="index<=2"
                                                                                    v-model="formFields[index].field2"
                                                                                    class="h-10 rounded-lg outline-none p-2 Polaris-Select__Input"
                                                                                    aria-invalid="false"
                                                                                    required>
                                                                                <option value="" disabled>Choose
                                                                                </option>
                                                                                <option v-for="field in MuxAttributes"
                                                                                        :disabled="field.fieldKey=='email' || field.fieldKey=='fname' || field.fieldKey=='lname' "
                                                                                        :value="field">
                                                                                    {{ field.fieldLabel ?
                                                                                    field.fieldLabel : "Choose" }}
                                                                                </option>
                                                                            </select>

                                                                            <div class="Polaris-Select__Content"
                                                                                 aria-hidden="true"><span
                                                                                class="Polaris-Select__SelectedOption">
                                                                                            {{ formFields[index].field2.fieldLabel ? formFields[index].field2.fieldLabel : "Choose" }}
                                                                                        </span><span
                                                                                class="Polaris-Select__Icon"><span
                                                                                class="Polaris-Icon"><span
                                                                                class="Polaris-VisuallyHidden"></span><svg
                                                                                viewBox="0 0 20 20"
                                                                                class="Polaris-Icon__Svg"
                                                                                focusable="false" aria-hidden="true">
              <path
                  d="M7.676 9h4.648c.563 0 .879-.603.53-1.014L10.531 5.24a.708.708 0 0 0-1.062 0L7.145 7.986C6.798 8.397 7.113 9 7.676 9zm4.648 2H7.676c-.563 0-.878.603-.53 1.014l2.323 2.746c.27.32.792.32 1.062 0l2.323-2.746c.349-.411.033-1.014-.53-1.014z"></path>
            </svg></span></span></div>
                                                                            <div class="Polaris-Select__Backdrop"></div>
                                                                        </div>


                                                                        <!--                                                                                    <div class="Polaris-TextField">-->
                                                                        <!--                                                                                        <input-->
                                                                        <!--                                                                                            id="PolarisTextField19"-->
                                                                        <!--                                                                                            v-model="input.field2"-->
                                                                        <!--                                                                                            type="text"-->
                                                                        <!--                                                                                            class="h-10 rounded-lg outline-none p-2 Polaris-TextField__Input"-->

                                                                        <!--                                                                                            aria-labelledby="PolarisTextField19Label"-->
                                                                        <!--                                                                                            aria-invalid="false"-->
                                                                        <!--                                                                                            placeholder=" Enter Phone Number"-->
                                                                        <!--                                                                                            required-->
                                                                        <!--                                                                                        />-->

                                                                        <!--                                                                                        <div class="Polaris-TextField__Backdrop"></div>-->
                                                                        <!--                                                                                    </div>-->

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div id="PolarisPortalsContainer"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col col-3">

                                                <!--          Add Svg Icon-->
                                                <svg
                                                    v-show="formFields.length == index+1 && formFields.length!==MuxAttributes.length"
                                                    @click="addField(input, formFields)"
                                                    xmlns="http://www.w3.org/2000/svg"
                                                    viewBox="0 0 24 24"
                                                    width="24"
                                                    height="24"
                                                    class="ml-2 cursor-pointer"
                                                >
                                                    <path fill="none" d="M0 0h24v24H0z"/>
                                                    <path
                                                        fill="#006e52"
                                                        d="M11 11V7h2v4h4v2h-4v4h-2v-4H7v-2h4zm1 11C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16z"
                                                    />
                                                </svg>

                                                <!--          Remove Svg Icon-->
                                                <svg
                                                    v-show="formFields.length > 1 && index > 2"
                                                    @click="removeField(index, formFields)"
                                                    xmlns="http://www.w3.org/2000/svg"
                                                    viewBox="0 0 24 24"
                                                    width="24"
                                                    height="24"
                                                    class="ml-2 cursor-pointer"
                                                >
                                                    <path fill="none" d="M0 0h24v24H0z"/>
                                                    <path
                                                        fill="red"
                                                        d="M12 22C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16zm0-9.414l2.828-2.829 1.415 1.415L13.414 12l2.829 2.828-1.415 1.415L12 13.414l-2.828 2.829-1.415-1.415L10.586 12 7.757 9.172l1.415-1.415L12 10.586z"
                                                    />
                                                </svg>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="Polaris-Card__Footer">
                                    <div class="Polaris-ButtonGroup col col-3">
                                        <div class="Polaris-ButtonGroup__Item">
                                            <div class="">
                                            <button class="Polaris-Button Polaris-Button--primary apply-btn"
                                                    type="submit">
                                                            <span class="Polaris-Button__Content">
                                                                <span class="Polaris-Button__Text">Apply</span>
                                                            </span>
                                            </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>

                </div>
            </div>
            <div id="PolarisPortalsContainer"></div>
        </div>

        <div class="loading" v-show="is_loading">
            <PSpinner color="teal" style="color : #006e52 !important" size="large"
                      accessibilityLabel="Spinner Example"/>
        </div>

    </div>
</template>

<script>
    import instance from "../../axios.js";
    import helper from "../../helper.js";
    import {BulletListLoader} from 'vue-content-loader';

    export default {
        name: "MuxCustomers",
        props: [],
        components: {
            BulletListLoader
        },
        mounted() {

            console.log("MuxCustomers :: mounted",);
            this.getMuxAttributesdata();
            this.getMatchAttributesdata();
            this.getShopifyAttributesdata();
            this.getMuxTagsdata();
            this.getSyncContactData();
            this.getTotalCustomersData();
            this.getAssignTagsData();

        },
        updated() {
            console.log("MuxCustomers :: updated");
        },
        beforeCreate: function () {
            console.log("MuxCustomers :: beforeCreate");
        },
        created() {
            console.log("MuxCustomers :: created");
        },
        data() {
            return {
                title: "MuxCustomers",
                is_load: false,
                is_loading: false,
                mux_is_connect: false,
                errors: [],
                formFields: [
                    {
                        field1: "Choose",
                        field2: "Choose",
                    }
                ],
                MuxAttributes: [],
                ShopifyAttributes: [],
                MuxTags: [],
                SelectedTags: [],
                last_synced_contact_date: '',
                total_customer: ''
            }
        },
        methods: {
            getMuxAttributesdata() {
                let self = this;

                instance.get('/mux-email/get-attributes-fields')
                    .then(function (response) {
                        //console.log("res", response);

                        if (response.data.success) {

                            self.MuxAttributes = response.data.attributes;
                            // console.log("self.MuxAttributes",self.MuxAttributes);

                        } else {
                            helper.errorToast(response.data.message);
                        }

                    })
                    .catch(function (error) {
                        console.log("error", error);
                    });
            },
            getAssignTagsData() {

                let self = this;

                instance.get('/get-assign-tags')
                    .then(function (response) {
                        //console.log("res", response);

                        if (response.data.success) {

                            self.SelectedTags = response.data.tags;
                            // console.log("self.MuxAttributes",self.MuxAttributes);

                        } else {
                            helper.errorToast(response.data.message);
                        }

                    })
                    .catch(function (error) {
                        console.log("error", error);
                    });
            },

            getMatchAttributesdata() {

                let self = this;

                instance.get('/get-match-attributes-fields')
                    .then(function (response) {
                        // console.log("res", response);

                        if (response.data.success) {

                            self.formFields = response.data.match_attributes;

                            // console.log("match-attribues",self.formField);


                        } else {
                            helper.errorToast(response.data.message);
                        }

                    })
                    .catch(function (error) {
                        console.log("error", error);
                    });
            },
            getShopifyAttributesdata() {
                //  console.log("Method::call");
                let self = this;

                instance.get('/get-customer-fields')
                    .then(function (response) {
                        //  console.log("res", response);

                        if (response.data.success) {

                            self.ShopifyAttributes = response.data.attributes;
                            // console.log("self.ShopifyAttributes",self.ShopifyAttributes);

                        } else {
                            helper.errorToast(response.data.message);
                        }

                    })
                    .catch(function (error) {
                        console.log("error", error);
                    });
            },
            getTotalCustomersData() {

                let self = this;

                self.total_customer = 0;

                instance.get('/get-customers-count')
                    .then(function (response) {
                        //  console.log("res", response);

                        if (response.data.success) {

                            self.total_customer = response.data.customers_count;

                        } else {
                            helper.errorToast(response.data.message);
                        }

                    })
                    .catch(function (error) {
                        console.log("error", error);
                    });
            },
            getMuxTagsdata() {

                let self = this;

                // console.log("params",params);

                instance.get('/mux-email/get-all-tags')
                    .then(function (response) {
                        // console.log("res", response);

                        if (response.data.success) {

                            self.MuxTags = response.data.tags;
                            // console.log("self.MuxTags",self.MuxTags);

                        } else {
                            helper.errorToast(response.data.message);
                        }

                    })
                    .catch(function (error) {
                        console.log("error", error);
                    });
            },
            addField(value, fieldType) {
                fieldType.push({
                    field1: "Choose",
                    field2: "Choose",
                });
            },
            removeField(index, fieldType) {

                console.log("index",index);
                console.log("fieldType",fieldType);

                fieldType.splice(index, 1);
                //this.formFields.splice(index, 1);
            },
            attributesSubmit: function (e) {
                this.is_loading = true;
                console.log("formFields", this.formFields);

                let self = this;
                let params = {
                    "attributes": this.formFields,
                };

                helper.startLoading();
                instance.post('/add-attributes-fields', params)
                    .then(function (response) {
                        // console.log("res", response);

                        if (response.data.success) {

                            setTimeout(() => {
                                helper.successToast(response.data.message);
                            }, 1000);

                        } else {
                            helper.errorToast(response.data.message);
                        }

                        self.is_loading = false;
                        helper.stopLoading();
                    })
                    .catch(function (error) {
                        console.log("error", error);
                        self.is_loading = false;
                        helper.stopLoading();
                    });

                self.refreshPage();

            },
            ApplySyncContacts: function () {


                this.total_customer = 0;

                let self = this;
                let params = {
                    "tags": self.SelectedTags
                };

                //this.is_loading = true;
                helper.startLoading();
                //  console.log("params",params);

                instance.post('/bulk-upload-contacts', params)
                    .then(function (response) {
                        console.log("res", response);

                        if (response.data.success) {

                            setTimeout(() => {
                                helper.successToast(response.data.message);
                            }, 1000);

                        } else {
                            helper.errorToast(response.data.message);
                        }
                        // self.is_loading = false;
                        helper.stopLoading();
                    })
                    .catch(function (error) {
                        console.log("error", error);
                        helper.stopLoading();
                        // self.is_loading = false;
                    });

            },
            getSyncContactData() {
                this.last_synced_contact_date = "";
                let self = this;
                instance.get('/get-bulk-contacts')
                    .then(function (response) {

                        if (response.data.success) {

                            self.last_synced_contact_date = response.data.last_synced_date;

                        } else {
                            helper.errorToast(response.data.message);
                        }

                    })
                    .catch(function (error) {
                        console.log("error", error);
                    });
            },
            onInputTagAssign(e) {

                console.log("on-change tags call");

                console.log("value",e.target);


                let self = this;

                let tags = self.SelectedTags

                let params = {
                    "tags": tags
                };
                console.log("params", params);

                instance.post('/save-tags', params)
                    .then(function (response) {
                        //console.log("res", response);

                        if (response.data.success) {

                            setTimeout(() => {
                                //  helper.successToast(response.data.message);
                            }, 1000);

                        } else {
                            helper.errorToast(response.data.message);
                        }


                    })
                    .catch(function (error) {
                        console.log("error", error);

                    });


            },

            refreshPage() {
                // console.log("Refresh Page");
                this.MuxAttributes = [];
                this.ShopifyAttributes = [];
                this.MuxTags = [];
                this.SelectedTags = [];
                this.getMuxAttributesdata();
                this.getShopifyAttributesdata();
                this.getMatchAttributesdata();
                this.getMuxTagsdata();
                this.getSyncContactData();
                this.getTotalCustomersData();
                this.getAssignTagsData();
            }

        }

    }
</script>
