<template>
    <div>
        <div class="container-fluid mt-20 mb-20">
            <div class="Polaris-Card">
                <div>
                    <div class="Polaris-Tabs__Wrapper">
                        <div class="Polaris-Tabs Polaris-Tabs__TabMeasurer">
                            <li class="Polaris-Tabs__TabContainer" role="presentation"  @click="handleTabChange('customers-tab')">
                                <button id="all-customers-1Measurer" role="tab" type="button" tabindex="-1"
                                        v-bind:class="['Polaris-Tabs__Tab', { 'Polaris-Tabs__Tab--selected' : selectedTabIndex=='customers-tab' }]"
                                        aria-selected="true"><span
                                    class="Polaris-Tabs__Title">Customers</span></button>
                            </li>
<!--                            <li class="Polaris-Tabs__TabContainer" role="presentation"  @click="handleTabChange('settings-tab')">-->
<!--                                <button id="all-customers-1Measurer" role="tab" type="button" tabindex="-1"-->
<!--                                        v-bind:class="['Polaris-Tabs__Tab', { 'Polaris-Tabs__Tab&#45;&#45;selected' : selectedTabIndex=='settings-tab' }]"-->
<!--                                        aria-selected="true"><span-->
<!--                                    class="Polaris-Tabs__Title">Settings</span></button>-->
<!--                            </li>-->
                            <button type="button" class="Polaris-Tabs__DisclosureActivator" aria-label="More tabs"><span
                                class="Polaris-Tabs__Title"><span
                                class="Polaris-Icon Polaris-Icon--colorSubdued Polaris-Icon--applyColor"><svg
                                viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
                  <path
                      d="M6 10a2 2 0 1 1-4.001-.001A2 2 0 0 1 6 10zm6 0a2 2 0 1 1-4.001-.001A2 2 0 0 1 12 10zm6 0a2 2 0 1 1-4.001-.001A2 2 0 0 1 18 10z"></path>
                </svg></span></span></button>
                        </div>
                        <ul role="tablist" class="Polaris-Tabs">
                            <li class="Polaris-Tabs__TabContainer" role="presentation"  @click="handleTabChange('customers-tab')">
                                <button id="all-customers-1" role="tab" type="button" tabindex="0"
                                        v-bind:class="['Polaris-Tabs__Tab', { 'Polaris-Tabs__Tab--selected' : selectedTabIndex=='customers-tab' }]" aria-selected="true"
                                        aria-controls="all-customers-content-1" aria-label="All customers"><span
                                    class="Polaris-Tabs__Title">Customers</span></button>
                            </li>
<!--                            <li class="Polaris-Tabs__TabContainer" role="presentation"  @click="handleTabChange('settings-tab')">-->
<!--                                <button id="all-customers-1" role="tab" type="button" tabindex="0"-->
<!--                                        v-bind:class="['Polaris-Tabs__Tab', { 'Polaris-Tabs__Tab&#45;&#45;selected' : selectedTabIndex=='settings-tab' }]" aria-selected="true"-->
<!--                                        aria-controls="all-customers-content-1" aria-label="All customers"><span-->
<!--                                    class="Polaris-Tabs__Title">Settings</span></button>-->
<!--                            </li>-->
                        </ul>
                    </div>

                    <div v-bind:class="['Polaris-Tabs__Panel', { 'Polaris-Tabs__Panel--hidden' : selectedTabIndex!=='customers-tab' }]" id="all-customers-fitted-content-2" role="tabpanel" aria-labelledby="all-customers-fitted-2" tabindex="-1">
                        <div class="Polaris-Card__Section p-40">
                            <mux-customers :key="RefreshComponentKey"></mux-customers>
                        </div>
                    </div>
                    <div v-bind:class="['Polaris-Tabs__Panel', { 'Polaris-Tabs__Panel--hidden' : selectedTabIndex!=='settings-tab' }]" id="all-customers-fitted-content-2" role="tabpanel" aria-labelledby="all-customers-fitted-2" tabindex="-1">
                        <div class="Polaris-Card__Section p-40">
                            Settings
                        </div>
                    </div>

                </div>
            </div>
            <div id="PolarisPortalsContainer">
                <div data-portal-id="popover-Polarisportal5"></div>
            </div>
        </div>



    </div>
</template>

<script>
    import {Button, Modal, Toast,ContextualSaveBar} from "@shopify/app-bridge/actions";
    import instance from "../../axios.js";
    import helper from "../../helper.js";
    import {BulletListLoader} from 'vue-content-loader';
    import MuxCustomers from "./MuxCustomers";
    export default {
        name: "MuxDashboard",
        props: [],
        components: {
            BulletListLoader,MuxCustomers
        },
        mounted() {
            console.log("MuxDashboard :: mounted");
        },
        updated() {
            console.log("MuxDashboard :: updated");
        },
        created() {
            console.log("MuxDashboard :: created");

        },
        beforeCreate: function () {
            console.log("MuxDashboard :: beforeCreate");
       },
        data() {
            return {
                title: "Dashboard",
                is_load: false,
                selectedTabIndex: 'customers-tab',
                RefreshComponentKey: 0,
            }
        },
        methods: {
            handleTabChange(selectedTabIndex) {
                this.selectedTabIndex = selectedTabIndex;
                this.$forceUpdate();
                this.RefreshComponentKey++;
            },
        }

    }
</script>
