// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.mux_email_logo{
    padding: 5px;
}
.mux_email_logo img{
    width : 35px !important;
}
.title{
    margin: 10px 0;
    width: 55%;
}
.connectMuxMailForm-btn{
  float:right
}
.inline {
    display: inline !important;
    width: 50% !important;
}
.text-right {
    text-align: right !important;
    float: right !important;
}
#divider{
    width: 98%;
    float: none;
    margin: auto;
    position: relative;
    height: 2px;
    background: #a9a9a9c9;
}
.mb-20{
    margin-bottom: 20px;
}
.mt-20{
    margin-top: 20px;
}
#attributesForm{
    padding:40px;
}
#attributesForm .Polaris-FormLayout{
    margin-left: -4rem;
}

.col-1{
    flex: 2 2 48rem;
    min-width: 40%;
    max-width: 40%;
    margin-left: 0px
}
.col-2{
    flex: 2 2 48rem;
    min-width: 40%;
    max-width: 40%;
    margin-left: 0px
}
.col-3{
    flex: 2 2 48rem;
    min-width: 20%;
    max-width: 20%;
    margin-top: 40px;
    margin-left: 0px
}
.field_attr_title{
    margin-left: 0px !important;
}
.no-padd{
    padding-left: 35px !important;
}
.form-field-itm{
    margin-left: 0px !important;
}
.p-40{
    padding : 40px !important;
}
.apply-btn{
    margin-right: 185px !important;
}

/* Absolute Center Spinner */
.loading {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

/* Transparent Overlay */
.loading:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(rgba(20, 20, 20,.8), rgba(0, 0, 0, .8));

    background: -webkit-radial-gradient(rgba(20, 20, 20,.8), rgba(0, 0, 0,.8));
}


#tags_field{
    margin-top: -5px;
}

.multiselect__content-wrapper {
    max-height: 200px !important;
}
