<template>
    <div>

        <bullet-list-loader :width="300" :height="150" primaryColor="#dbdbdb" v-if="is_load">
        </bullet-list-loader>

        <div v-else>
        <div class="Polaris-Layout" v-if="!mux_is_connect">
            <div class="Polaris-Layout__Section">
        <div>
            <div class="Polaris-Page">
                <div class="Polaris-Page-Header Polaris-Page-Header--hasNavigation Polaris-Page-Header--mobileView Polaris-Page-Header--mediumTitle">
                    <div class="Polaris-Page-Header__Row">
                        <div class="mux_email_logo Polaris-Card">
                            <img src="/images/mux-email-logo.jpg" alt="mux-email-logo">
                        </div>
                    </div>
                </div>
                <div class="title">
                    <p class="Polaris-DisplayText Polaris-DisplayText--sizeSmall">Connect MuxEmail with your Shopify
                        store to sync, tag and send emails to your customers.</p>
                    <div id="PolarisPortalsContainer"></div>
                </div>
                <div class="Polaris-Page__Content">
                    <div class="Polaris-Card">
                        <form id="connectMuxMailForm" @submit.prevent="muxMailConnectSubmit">
                        <div class="Polaris-Card__Header">
                            <h2 class="Polaris-Heading">Connect your store to MuxEmail</h2>
                        </div>
                        <div class="Polaris-Card__Section">

                            <div v-if="errors.length">
                                <div class="Polaris-Banner Polaris-Banner--statusCritical Polaris-Banner--withinPage" tabindex="0" role="alert" aria-live="polite" aria-labelledby="PolarisBanner30Heading" aria-describedby="PolarisBanner30Content">
                                <div class="Polaris-Banner__ContentWrapper">
                                    <div class="Polaris-Banner__Heading" id="PolarisBanner30Heading">
                                        <p class="Polaris-Heading">Please correct the following error(s):</p>
                                    </div>
                                  <div id="myFieldIDError" class="Polaris-InlineError" v-for="error in errors" >
                                    <div class="Polaris-InlineError__Icon">
                                        <span class="Polaris-Icon">
                                        <span class="Polaris-VisuallyHidden">
                                        </span><svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
                                          <path d="M10 18a8 8 0 1 1 0-16 8 8 0 0 1 0 16zM9 9a1 1 0 0 0 2 0V7a1 1 0 1 0-2 0v2zm0 4a1 1 0 1 0 2 0 1 1 0 0 0-2 0z">
                                          </path>
                                        </svg>
                                        </span>
                                    </div>
                                      {{ error }}
                                  </div>
                            </div>

                              <div id="PolarisPortalsContainer"></div>
                            </div>
                                <br>
                            </div>
                                <div>
                                    <div class="Polaris-FormLayout">
                                        <div class="Polaris-FormLayout__Item">
                                            <div class="">
                                                <div class="Polaris-Labelled__LabelWrapper">

                                                    <div class="Polaris-Label">
                                                        <label id="PolarisTextField19Label" for="PolarisTextField19" class="Polaris-Label__Text">
                                                            API  Key
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="Polaris-Connected">
                                                    <div class="Polaris-Connected__Item Polaris-Connected__Item--primary">
                                                        <div class="Polaris-TextField">
                                                            <input id="PolarisTextField19"
                                                                  autocomplete="off"
                                                                  name="api_key"
                                                                  v-model="form.api_key"
                                                                  @blur="getMuxWorkSpacesdata($event)"
                                                                  class="Polaris-TextField__Input"
                                                                  aria-labelledby="PolarisTextField19Label"
                                                                  aria-invalid="false"
                                                                   required
                                                                  value="">
                                                            <div class="Polaris-TextField__Backdrop"></div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="Polaris-FormLayout__Item">
                                            <div class="">
                                                <div class="Polaris-Labelled__LabelWrapper">
                                                    <div class="Polaris-Label">
                                                        <label id="PolarisTextField20Label"  for="PolarisTextField20" class="Polaris-Label__Text">
                                                            Workspace ID
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="Polaris-Connected">
                                                    <div class="Polaris-Connected__Item Polaris-Connected__Item--primary">


                                                        <div class="Polaris-Select">
                                                            <select id="PolarisSelect12"
                                                                    name="workspace_id"
                                                                    v-model="form.workspace_id"
                                                                    class="h-10 rounded-lg outline-none p-2 Polaris-Select__Input" aria-invalid="false"
                                                                    required>
                                                                <option value="" disabled>Select Workspace</option>
                                                                <option v-for="field in MuxWorkspaces"
                                                                        :value="field.workspaceID">
                                                                    {{ field.name ? field.name : "Choose" }}
                                                                </option>
                                                            </select>

                                                            <div class="Polaris-Select__Content" aria-hidden="true"><span class="Polaris-Select__SelectedOption">
                                                                                            {{ form.workspace_id ? form.workspace_id : "Select Workspace"  }}
                                                                                        </span><span class="Polaris-Select__Icon"><span class="Polaris-Icon"><span class="Polaris-VisuallyHidden"></span><svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
              <path d="M7.676 9h4.648c.563 0 .879-.603.53-1.014L10.531 5.24a.708.708 0 0 0-1.062 0L7.145 7.986C6.798 8.397 7.113 9 7.676 9zm4.648 2H7.676c-.563 0-.878.603-.53 1.014l2.323 2.746c.27.32.792.32 1.062 0l2.323-2.746c.349-.411.033-1.014-.53-1.014z"></path>
            </svg></span></span></div>
                                                            <div class="Polaris-Select__Backdrop"></div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="PolarisPortalsContainer"></div>
                                </div>
                            </div>
                            <div class="Polaris-Card__Footer">
                                <div class="Polaris-ButtonGroup">
                                    <div class="Polaris-ButtonGroup__Item"><button class="Polaris-Button Polaris-Button--primary" type="submit"><span class="Polaris-Button__Content"><span class="Polaris-Button__Text">Connect</span></span></button></div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div id="PolarisPortalsContainer"></div>
        </div>



                <div id="PolarisPortalsContainer"></div>
            </div>
        </div>


        <div v-if="mux_is_connect">
            <mux-dashboard></mux-dashboard>
        </div>
          </div>
    </div>
</template>

<script>
    import instance from "../axios.js";
    import helper from "../helper.js";
    import {BulletListLoader} from 'vue-content-loader';
    import MuxDashboard from "./pages/MuxDashboard";
    export default {
        name: "Dashboard",
        props: [],
        components: {
            BulletListLoader,MuxDashboard
        },
        mounted() {
           // console.log("Dashboard :: mounted");
            this.CheckCredentialdata();
        },
        updated() {
           // console.log("Dashboard :: updated");
        },
        created() {
           // console.log("Dashboard :: created");
        },
        beforeCreate: function () {
           // console.log("Dashboard :: beforeCreate");
        },
        data() {
            return {
                title: "Dashboard",
                is_load: false,
                mux_is_connect: false,
                form : {
                    api_key : null,
                    workspace_id : null
                },
                errors : [],
                MuxWorkspaces:[],

            }
        },
        methods: {
            CheckCredentialdata() {

                //console.log("API key inut on blure method call");

                let self = this;
                self.mux_is_connect = '';
                self.is_load  = true;
                // console.log("params",params);

                instance.get('/mux-email/check-credential')
                    .then(function (response) {
                        //console.log("res", response);

                        if(response.data.success) {

                            self.mux_is_connect = response.data.mux_is_connect;
                            self.is_load  = false;
                            // console.log("self.MuxAttributes",self.MuxAttributes);

                        }else{
                            helper.errorToast(response.data.message);
                            self.is_load  = false;
                        }
                        self.is_load  = false;
                    })
                    .catch(function (error) {
                        console.log("error", error);
                    });
            },
            muxMailConnectSubmit: function (e) {

                let self = this;

                this.errors = [];

                if (!this.form.api_key) {
                    this.errors.push('API Key required.');
                }
                if (!this.form.workspace_id) {
                    this.errors.push('Workspace ID required.');
                }
                if (this.workspace_id && this.api_key) {
                    console.log("Form is Valid");
                }
                e.preventDefault();

                if (this.form.api_key && this.form.workspace_id) {
                    helper.startLoading();

                    //console.log("Form-data",this.form);

                    instance.post('/mux-email/connect',this.form)
                        .then(function (response) {
                          ///  console.log("mux-email/connect-res", response);

                            if(response.data.success) {
                                self.mux_is_connect = response.data.mux_is_connect;
                            }else{
                                helper.errorToast(response.data.message);
                            }

                        })
                        .catch(function (error) {
                            console.log("mux-email/connect-error", error);
                        });


                    helper.stopLoading();
                }

            },
            getMuxWorkSpacesdata(e) {

               //  console.log("API key inut on blure method call");

                // console.log("api_key", this.form.api_key);

                let self = this;

                const api_key = e.target.value;

             if(api_key) {

                 let params = {
                     "api_key": api_key
                 };

                 // console.log("params",params);

                 instance.post('/mux-email/get-all-workspaces', params)
                     .then(function (response) {
                         //console.log("res", response);

                         if (response.data.success) {

                             self.MuxWorkspaces = response.data.workspaces;
                             // console.log("self.MuxAttributes",self.MuxAttributes);

                         } else {
                             helper.errorToast(response.data.message);
                         }




                     })
                     .catch(function (error) {
                         console.log("error", error);

                     });

             }
            },
        }

    }
</script>
